/* Estilo geral */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilo dos campos de entrada */
input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

input:focus {
    border-color: #007acc;
    box-shadow: 0 0 8px rgba(0, 122, 204, 0.2);
    outline: none;
}

/* Estilo do botão */
button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007acc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 80%;
}

button:hover {
    background-color: #005b99;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(1px);
}

/* Estilo do resultado */
.resultado {
    margin-top: 20px;
    font-size: 18px;
    font
